body {
  margin: 0;
  font-family: "Roboto";
}
html{
  scroll-behavior: smooth;
  background-color: #1B2435;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  background: white !important;
}
.swiper-pagination-bullet-active {
  background: #9AD143 !important;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom : -6px !important;
}